div#memory_board {
    background: #ccc; 
    border: #999 1px solid;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin:0px auto; 
}
/* > target all child divs within the memory board */
div#memory_board > div{
    background: url('/assets/dino-egg.png') no-repeat center;
    border: #000 1px solid;
    width: 71px;
    height: 71px;
    float: left; 
    margin: 10px; 
    padding: 20px;
    font-size: 64px; 
    cursor: pointer;
    text-align: center;
}

body {
    background: url('/assets/dino.jpeg') no-repeat center;
    height: 100vh;
}
h1{
    color: #f1f2f6;
    font-size: 24pt;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

